/*xs - less than 576px*/
/*sm - 576 and up */
/*md - 768px and up */
/*lg - 992px and up */
/*xl - 1200px and up */

/*---Media Queries --*/

/*xs screen width*/
@media (max-width:576px)  {

}

@media (max-width:768px) and (min-width: 576px) {

}

@media (max-width:992px) and (min-width: 768px) {

}

@media (max-width:1200px) {

}

body{
    margin: 0;
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


#top_nav{
    background: #0e6605;
    background-color: #0e6605;
    border: 0;
    padding: 0;
    margin: 0;
}

#email_txt{
    color: #FFF;
    font-size: 1.5rem;
}

#phone_no{
    color: white;
    font-size: 1.5rem;
}

#nav_brand{
    outline: none;
}

.cl-white-600{
    color: #FFFFFF;
    font-weight: 600;
}

#nav_links {
    border: none;
    margin-bottom: 0;
}

#nav_links li a:hover, #nav_links li a{
    outline: none;
    border: 0;
    text-decoration: none;
}

.no-margin{
    margin: 0;
    padding: 0;
}
.bg-orange{
    background: orange;
    background-color: orange;
}
.hover-plain .text-center{
    height: 15px;
    margin-top: -10px;
}

.bg-black{
    background-color: #000;
    background: #000;
}